*, *::after, *::before {
  box-sizing: border-box;
}
#timeline {
	width:100%;
	margin:20px auto;
}
#timeline::before {
	position:absolute;
	top:0;
	background-color:blue;
	height:100%;
	width:2px;
	left:50%;
	content:"";
	margin-left:-1px; /* Half of width */
}
.timeline-block {
	margin-bottom:10px;
}
.timeline-icon {
	position:absolute;
	height:20px;
	width:20px;
	border:2px solid blue;
	background-color: white;
	z-index: 10;
	left:50%;
	margin-left:-10px;
	border-radius:100%;
}
.timeline-content {
	width:45%;
	border:1px solid #ccc;
	padding:12px;
	position:relative;
	line-height: 20px;
}
.timeline-date {
	position: absolute;
	top:0;
	left:120%;
	width:100%;
}